<p id="notice"><%= notice %></p>

<h1>Listing Devdirectories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devdirectories.each do |devdirectory| %>
      <tr>
        <td><%= devdirectory.name %></td>
        <td><%= link_to 'Show', devdirectory %></td>
        <td><%= link_to 'Edit', edit_devdirectory_path(devdirectory) %></td>
        <td><%= link_to 'Destroy', devdirectory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devdirectory', new_devdirectory_path %>
