<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @project.version %>
</p>

<p>
  <strong>License:</strong>
  <%= @project.license %>
</p>

<table>
  <thead>
    <tr>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devdirectories.each do |devdirectory| %>
      <tr>
        <td><%= link_to devdirectory.name, devdirectory %></td>
        <td><%= link_to 'Rename', edit_devdirectory_path(devdirectory) %></td>
        <td><%= link_to 'Delete', devdirectory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% @devfiles.each do |devfile| %>
      <tr>
        <td><%= link_to "#{devfile.name}.#{devfile.extension}", devfile %></td>
        <td><%= link_to 'Rename', edit_devfile_path(devfile) %></td>
        <td><%= link_to 'Delete', devfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
