<p id="notice"><%= notice %></p>

<% if @devdirectory.id > 0 %>
<h2><%= @project.name %>/.../<%= @devdirectory.name %>/<%= @devfile.name %>.<%= @devfile.extension %></h2>
<% else %>
  <h2><%= @project.name %>/<%= @devfile.name %>.<%= @devfile.extension %></h2>
<% end %>

<p>
  <pre><code><%= @devfile.contents %></code></pre>
</p>

<%= link_to 'Edit', edit_devfile_path(@devfile) %> |
