<p id="notice"><%= notice %></p>

<h2><%= @devfile.name %>.<%= @devfile.extension %></h2>

<p>
  <pre><code><%= @devfile.contents %></code></pre>
</p>

<%= link_to 'Edit', edit_devfile_path(@devfile) %> |
